


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  INSERT INTO public.profiles (id, full_name, email, phone)
  VALUES (
    new.id, 
    new.raw_user_meta_data->>'full_name', 
    new.email,
    new.raw_user_meta_data->>'phone'
  );
  RETURN new;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."redeem_session"("p_session_id" "uuid", "p_cashier_id" "uuid") RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    v_status TEXT;
    v_cafe_id UUID;
    v_customer_id UUID;
BEGIN
    -- Lock row for update
    SELECT status, cafe_id, user_id INTO v_status, v_cafe_id, v_customer_id
    FROM sessions
    WHERE id = p_session_id FOR UPDATE;

    IF v_status != 'ACTIVE' THEN
        RETURN FALSE;
    END IF;

    -- Mark redeemed
    UPDATE sessions
    SET status = 'REDEEMED', used_at = now(), redeemed_by = p_cashier_id
    WHERE id = p_session_id;

    -- Increment punches on digital card
    INSERT INTO digital_cards (customer_id, cafe_id, punch_count)
    VALUES (v_customer_id, v_cafe_id, 1)
    ON CONFLICT (customer_id, cafe_id) DO UPDATE SET punch_count = digital_cards.punch_count + 1, updated_at = now();

    RETURN TRUE;
END;
$$;


ALTER FUNCTION "public"."redeem_session"("p_session_id" "uuid", "p_cashier_id" "uuid") OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."cafe_staff" (
    "user_id" "uuid" NOT NULL,
    "cafe_id" "uuid" NOT NULL,
    "role" "text" DEFAULT 'cashier'::"text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."cafe_staff" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."cafes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "public_code" "text" NOT NULL,
    "lat" double precision,
    "lng" double precision,
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "logo_url" "text"
);


ALTER TABLE "public"."cafes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."digital_cards" (
    "customer_id" "uuid" NOT NULL,
    "cafe_id" "uuid" NOT NULL,
    "punch_count" integer DEFAULT 0,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."digital_cards" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "full_name" "text",
    "phone" "text",
    "role" "text" DEFAULT 'customer'::"text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "email" "text"
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."scan_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "session_id" "uuid",
    "cafe_id" "uuid",
    "cashier_id" "uuid",
    "result" "text" NOT NULL,
    "reason" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."scan_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."sessions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "cafe_id" "uuid",
    "token_hash" "text" NOT NULL,
    "expires_at" timestamp with time zone NOT NULL,
    "status" "text" DEFAULT 'ACTIVE'::"text",
    "used_at" timestamp with time zone,
    "redeemed_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."sessions" OWNER TO "postgres";


ALTER TABLE ONLY "public"."cafe_staff"
    ADD CONSTRAINT "cafe_staff_pkey" PRIMARY KEY ("user_id", "cafe_id");



ALTER TABLE ONLY "public"."cafes"
    ADD CONSTRAINT "cafes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."cafes"
    ADD CONSTRAINT "cafes_public_code_key" UNIQUE ("public_code");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."scan_logs"
    ADD CONSTRAINT "scan_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."sessions"
    ADD CONSTRAINT "sessions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."digital_cards"
    ADD CONSTRAINT "stamps_pkey" PRIMARY KEY ("customer_id", "cafe_id");



CREATE INDEX "idx_sessions_cafe_status" ON "public"."sessions" USING "btree" ("cafe_id", "status");



CREATE INDEX "idx_sessions_token_hash" ON "public"."sessions" USING "btree" ("token_hash");



ALTER TABLE ONLY "public"."cafe_staff"
    ADD CONSTRAINT "cafe_staff_cafe_id_fkey" FOREIGN KEY ("cafe_id") REFERENCES "public"."cafes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."cafe_staff"
    ADD CONSTRAINT "cafe_staff_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."digital_cards"
    ADD CONSTRAINT "digital_cards_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."scan_logs"
    ADD CONSTRAINT "scan_logs_cafe_id_fkey" FOREIGN KEY ("cafe_id") REFERENCES "public"."cafes"("id");



ALTER TABLE ONLY "public"."scan_logs"
    ADD CONSTRAINT "scan_logs_cashier_id_fkey" FOREIGN KEY ("cashier_id") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."scan_logs"
    ADD CONSTRAINT "scan_logs_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "public"."sessions"("id");



ALTER TABLE ONLY "public"."sessions"
    ADD CONSTRAINT "sessions_cafe_id_fkey" FOREIGN KEY ("cafe_id") REFERENCES "public"."cafes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."sessions"
    ADD CONSTRAINT "sessions_redeemed_by_fkey" FOREIGN KEY ("redeemed_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."sessions"
    ADD CONSTRAINT "sessions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."digital_cards"
    ADD CONSTRAINT "stamps_cafe_id_fkey" FOREIGN KEY ("cafe_id") REFERENCES "public"."cafes"("id") ON DELETE CASCADE;



CREATE POLICY "Cafes are viewable by everyone" ON "public"."cafes" FOR SELECT USING (true);



CREATE POLICY "Customers can view own sessions" ON "public"."sessions" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Customers can view own stamps" ON "public"."digital_cards" FOR SELECT USING (("auth"."uid"() = "customer_id"));



CREATE POLICY "Staff can view scan logs for their cafe" ON "public"."scan_logs" FOR SELECT USING (("cafe_id" IN ( SELECT "cafe_staff"."cafe_id"
   FROM "public"."cafe_staff"
  WHERE ("cafe_staff"."user_id" = "auth"."uid"()))));



CREATE POLICY "Staff can view their affiliations" ON "public"."cafe_staff" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can insert own profile" ON "public"."profiles" FOR INSERT WITH CHECK (("auth"."uid"() = "id"));



CREATE POLICY "Users can update own profile" ON "public"."profiles" FOR UPDATE USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can view own profile" ON "public"."profiles" FOR SELECT USING (("auth"."uid"() = "id"));



ALTER TABLE "public"."cafe_staff" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."cafes" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."digital_cards" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."scan_logs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."sessions" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";






GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";






















































































































































GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."redeem_session"("p_session_id" "uuid", "p_cashier_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."redeem_session"("p_session_id" "uuid", "p_cashier_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."redeem_session"("p_session_id" "uuid", "p_cashier_id" "uuid") TO "service_role";


















GRANT ALL ON TABLE "public"."cafe_staff" TO "anon";
GRANT ALL ON TABLE "public"."cafe_staff" TO "authenticated";
GRANT ALL ON TABLE "public"."cafe_staff" TO "service_role";



GRANT ALL ON TABLE "public"."cafes" TO "anon";
GRANT ALL ON TABLE "public"."cafes" TO "authenticated";
GRANT ALL ON TABLE "public"."cafes" TO "service_role";



GRANT ALL ON TABLE "public"."digital_cards" TO "anon";
GRANT ALL ON TABLE "public"."digital_cards" TO "authenticated";
GRANT ALL ON TABLE "public"."digital_cards" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."scan_logs" TO "anon";
GRANT ALL ON TABLE "public"."scan_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."scan_logs" TO "service_role";



GRANT ALL ON TABLE "public"."sessions" TO "anon";
GRANT ALL ON TABLE "public"."sessions" TO "authenticated";
GRANT ALL ON TABLE "public"."sessions" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































